#comapaniesName {
    margin-top: 3vh;
    width: 100vw;
    height: 75vh;

    display: flex;
    justify-content: center;
    /*align-items: center;*/

    background: var(--background);
}

.bubble {
    fill-opacity: 0.6;
    stroke: #fff;
}

.bubble:hover {
    fill-opacity: 1.0;
}

.label {
    font-family: Arial, sans-serif;
    font-size: 14px;
    fill: #000;
    pointer-events: none;
}


#schools {
    display: none; !important;
}